*{
	font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .App {
	text-align: center;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  .inner-wrap{
	background-color: aliceblue;
	width: 70%;
	height: auto;
	margin-left: 15%;
  }
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color:rgb(222, 187, 12);
  }
  @keyframes App-logo-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  .App-link {
	color: #61dafb;
  }
  .wrap
	{
	  
	  font-family: sans-serif;
	  padding-top: 15%;
	  background-color:rgba(19, 174, 217, 0.979);
	  padding-bottom: 25%;
		text-align:center;
  }